:root {
    /* Colors */
    --clr-primary: hsl(158, 36%, 37%);
    --clr-primary-dark: hsl(156, 42%, 18%);

    --clr-title: hsl(212, 21%, 14%);
    --clr-text: hsl(228, 12%, 48%);

    --clr-bg-body: hsl(30, 38%, 92%);
    --clr-white: hsl(0, 0%, 100%);

    /* Font sizes */
    --fs-html: 14px;
    --fs-body: 1rem;

    /* Font families */
    --ff-body: "Montserrat", sans-serif;
    --ff-title: "Fraunces", serif;
}